extends layout

block content
	h1= title
	p Welcome to #{title}
	form#signup-form.tiny-rhinos(method="post", action="/")
		div.specificname 
			label Specific Name:
			br
			input(type="text", name="specificname", placeholder="enter name...")
		hr
		div.semantic-size 
			p Size:
			mixin radio(name)

				-for(i=0; i<name.length; i++){
					input(type="radio", name="semsize", value="#{name[i]}")
					label.name= name[i][0].toUpperCase()+name[i].slice(1) 
					br
				-}
			+radio(size)
		hr
		div.weight
			p Weight (lbs.):
			input.weight.range-rover(name="weight" type="range", min="0", max="80", value="5", step="1")
			br
			span#weight 25
		hr
		div.temp
			p Temperature
			input.temp.range-rover(name="temp" type="range", min="-30", max="40", value="40", step="1")
			br
			span#temp 25 
		hr
		button.btn.btn-default(type="submit", value="Submit") Submit
		div#loader
		div#message


	script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
	script(src="/javascripts/main.js")

